
@model Usuario
@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        @ViewBag.Accion
    </div>
    <div class="card-body">

        <form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <input type="hidden" asp-for="IdUsuario" />

            <div class="mb-2">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control form-control-sm" asp-for="Nombre" />
            </div>
            <div class="mb-2">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control form-control-sm" asp-for="Apellido" />
            </div>
            <div class="mb-2">
                <label class="form-label">Email</label>
                <input type="text" class="form-control form-control-sm" asp-for="Email"/>
            </div>
            <div class="mb-2">
                <label class="form-label">Contraseña</label>
                <input type="text" class="form-control form-control-sm" asp-for="Contraseña"/>
            </div>
            <div class="mb-2">
                <label class="form-label">Telefono</label>
                <input type="text" class="form-control form-control-sm" asp-for="Telefono" />
            </div>
               <div class="mb-2">
                <label class="form-label">Departamento</label>
                <input type="text" class="form-control form-control-sm" asp-for="Departamento" />
            </div>
               <div class="mb-2">
                <label class="form-label">Municipio</label>
                <input type="text" class="form-control form-control-sm" asp-for="Municipio" />
            </div>

            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver a lista</a>
        </form>


        
       
    </div>

</div>